.gloss--glossed {
	background-color: var(--quote-bg);
	padding: 0.001px 20px;
	margin-bottom: 1em;
	border-top: .1em solid var(--quote-border);
	border-bottom: .1em solid var(--quote-border);
}

.content img {
	display: block;
	margin: auto;
}

.gloss__abbr {
	text-transform: none;
}

.cursive {
	font-family: freeserif, "times new roman", serif;
	font-style: italic;
	font-size: 125%;
}

details {
	background-color: var(--quote-bg);
	padding: 0.001px 20px;
	margin-bottom: 1em;
	border-top: .1em solid var(--quote-border);
	border-bottom: .1em solid var(--quote-border);
}

details > summary {
	display: block;
	position: relative;
	cursor: pointer;
	padding-left: 1.5rem;
}

details > div { /* content */
	padding: 0.01px 20px;
	background-color: var(--bg);
	border: .1em solid var(--quote-border);
	margin-bottom: 20px;
}

details[open] > summary:before {
	transform: rotate(90deg);
}

summary:before {
	content: '';
	border-width: .6rem;
	border-style: solid;
	border-color: transparent transparent transparent var(--icons);
	position: absolute;
	top: 0.6rem;
	left: 0rem;
	transform: rotate(0);
	transform-origin: .2rem 50%;
	transition: .25s transform ease;
}